<div class="container py-5">
  <h1 class="text-center mb-5">Meu Portfólio</h1>

  <div class="row g-4">
    <% @projetos.each do |projeto| %>
      <div class="col-md-4">
        <div class="card h-100 shadow">
          <img src="<%= projeto[:imagem] %>" class="card-img-top" alt="<%= projeto[:titulo] %>">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= projeto[:titulo] %></h5>
            <p class="card-text"><%= projeto[:descricao] %></p>
            <a href="<%= projeto[:link] %>" class="btn btn-primary mt-auto" target="_blank">Ver ao vivo</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>